@media (max-width: 767px) {
    .navbar-toggleable-sm {
        clear: both;
    }
}

#firstpicture {
    background:url('images/Webp.net-resizeimage.jpg') no-repeat center center;
    height: 350px;
    text-align: center;
    color: white;
}

#secondpicture {
    background: url('images/Versilia.jpg') no-repeat  center center;

    height: 350px;
    width: 100%;
}

h1 {
    
}

#rowunderpics {
    height: 100px;
    background-color: #474e5d;
    color: white;
    text-align: center;
}



#thirdpicture {
    background-image: url('images/rsz_1italy-mountain-villa.jpg');
    background-size: cover;
    height: 200px;
    width: 100%;
}

#fourthpicture {
    background-image: url('images/rsz_1modern-villa.jpg');
    background-size: cover;
    height: 200px;
    width: 100%;
}

#fifthpicture {
    background-image: url('images/rsz_tuscany-grape-field-nature-51947 (1).jpg');
    background-size: cover;
    height: 200px;
    width: 100%;
}




#topleft {
    background:url('images/3b-348x348.jpg') no-repeat center center;
    background-size: cover;
    height: 300px;
    max-width:300px;
}

#topright {
    background: url('images/42-348x348.jpg') no-repeat center center;
    height: 300px;
    max-width: 300px;
}

#topmiddle {
    text-align: center;
    max-width: 300px;
    color: #474e5d;
}


h4 {
    color: dimgray;
}

#bottomleft {
    background: url('images/Villa-Rucellai-Toscani-2812-2-348x348.jpg') no-repeat center center;
    
    height: 300px;
    max-width: 300px;
}

#bottomright {
    background: url('images/Villa-Vanna-231-348x348.jpg') no-repeat center center;
    height: 300px;
    max-width: 300px;
}



/*Font-awesome integration*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*Google font integration*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

#contact {
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}

    #contact .well {
        margin-top: 30px;
        border-radius: 0;
    }

    #contact .form-control {
        border-radius: 0;
        border: 2px solid #1e1e1e;
    }

    #contact button {
        border-radius: 0;
        border: 2px solid #1e1e1e;
    }

    #contact .row {
        margin-bottom: 30px;
    }

@media (max-width: 768px) {
    #contact iframe {
        margin-bottom: 15px;
    }
}


#contactleft{
    background:url('images/italymap.png') no-repeat center center;
    color:black;
    opacity:0.8;

}




