.square {
    float: left;
    position: relative;
    width: 30%;
    padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
    background-size: cover;
}



#pic1 {
    background: url('images/3b-348x348.jpg') no-repeat center center;
}

.content1 {
    position: absolute;
    height: 90%; /* = 100% - 2*5% padding */
    width: 90%; /* = 100% - 2*5% padding */
    padding: 5%;
    text-align: center;
}

.rs {
    width: auto;
    height: auto;
    max-height: 90%;
    max-width: 100%;
}
/*  For responsive images as background */

.bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; /* you change this to "contain" if you don't want the images to be cropped */
    color: #fff;
}


#pic2 {
    background: url('images/42-348x348.jpg') no-repeat center center;
}

#pic3 {
    background: url('images/314-348x348.jpg') no-repeat center center;
}

#pic4 {
    background: url('images/Villa-Rucellai-Toscani-2812-2-348x348.jpg') no-repeat center center;
}

#pic5 {
    background: url('images/Villa-Vanna-231-348x348.jpg') no-repeat center center;
}


a.button1 {
     display: inline-block;
     padding: 0.35em 1.2em;
     border: 0.1em solid #FFFFFF;
     margin: 0 0.3em 0.3em 0;
     border-radius: 0.12em;
     box-sizing: border-box;
     text-decoration: none;
     font-family: 'Roboto',sans-serif;
     font-weight: 300;
     color: #FFFFFF;
     text-align: center;
     transition: all 0.2s;
}

    a.button1:hover {
         color: #000000;
         background-color: #FFFFFF;
    }

@media all and (max-width:30em) {
     a.button1 {
          display: block;
          margin: 0.4em auto;
         
    }
}